.main-title{
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
}
.contenedor-aclaraciones{
    border: 2px solid #D4EDDA;
    border-radius: 5px;
    padding: 3px;
    span{
        font-weight: bold;
        font-size: 1.2rem;
    };
}
.form-group{
    .form-control, .input-consulta{
        border: none;
        border-bottom: 2px solid green !important;
    }
}
.textarea-consulta{
    width: 50vw;
}