.main-title{
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
}
.contenedor-aclaraciones{
    border: 2px solid #D4EDDA;
    border-radius: 5px;
    padding: 3px;
    span{
        font-weight: bold;
        font-size: 1.2rem;
    };
}
.form-group{
    .form-control{
        border: none;
        background: #F8F9FA;
        border-bottom: 2px solid #D4EDDA !important;
    }
}
input[type=text], input[type=email] {
    border: none;
    background: #F8F9FA;
    border-bottom: 2px solid #D4EDDA !important;
    &:focus{
        background: #dfdfdf;
    }
  }
  .textarea-consulta{
        width: 50vw !important;
  }
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}