.main-title{
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
}
.contenedor-aclaraciones{
    border: 2px solid #D4EDDA;
    border-radius: 5px;
    padding: 3px;
    span{
        font-weight: bold;
        font-size: 1.2rem;
    };
}