.card{
    width: 30vw !important;
    box-shadow: 6px 4px 24px -10px rgba(0,0,0,0.75);
    text-align: center;
    background: linear-gradient(to bottom, #d4edda, #e2e2e2);
    .card-body{
        padding: 5px;
        width: 100% !important;
    }
    .card-text{
        text-overflow: ellipsis !important;
    }
}
.truncate {
    padding: 0px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.modal-consulta{
   .modal-dialog{
       border-radius: 5px;
    box-shadow: 6px 4px 24px -10px rgba(0,0,0,0.75) !important;
    background: linear-gradient(to bottom, #d4edda, #e2e2e2) !important;
   }
   .cont-consulta{
    border-radius: 7px;
    width: 35vw;
    height: 15vh;
    border: 1px solid #cfcfcf;
    background: #f5f5f5;
    .text-consulta{
        font-weight: 400;
        text-align: left;
    }
   }
   .modal-body{
    background: linear-gradient(to bottom, #d4edda, #e2e2e2) !important;
   }
   .modal-header{
       background: #d4edda !important;
   }
   .modal-foot-consulta{
    background: #e2e2e2 !important;
   }

}