.card{
    box-shadow: -1px 2px 51px -27px rgba(0,0,0,0.75);
    text-align: center;
    background: linear-gradient(to bottom, #d4edda, #e2e2e2);
    .card-body{
        padding: 5px;
    }
    .card-text{
        text-overflow: ellipsis !important;
    }
}
.truncate {
    padding: 0px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }