
.carousel-caption{
    h3{
        font-size: 5em;
        font-weight: bold;
        text-shadow: 5px 0 0 black;
    }
    p{
        font-size: 2.5em;
        font-weight: bold;
        text-shadow: 5px 0 0 black;
    }
}